:host {
  position: fixed;
  top: 0;
  width: 100%;
}

mat-toolbar {
  max-height: 50px;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 40%;
}

.map-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#map {
  &:hover {
    cursor: pointer;
  }
}
